body, html {
    margin-bottom: 60px; /* 留出足够的空间给footer */
    position: relative;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #555;
    border-radius: 5px;
}

section {
    padding: 20px;
    margin: 0 15%;
}

#about img {
    border-radius: 50%;
    margin-right: 20px;
    float: left;
    width: 150px; /* 根据需要调整图片大小 */
    height: auto;
}

#about p {
    text-align: justify;
    line-height: 1.6;
}

#education {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
}

#education h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
}

#education ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#education li {
    margin-bottom: 15px;
    line-height: 1.6;
}

#education .date {
    font-weight: bold;
}

#education .institution {
    font-style: italic;
    margin-right: 5px;
}

#education .major {
    color: #666;
}


#publications {
    font-family: 'Times New Roman', serif;
}

#publications h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 20px;
}

#publications ol {
    list-style-type: none; /* 移除默认的列表符号 */
    padding-left: 0; /* 移除默认的左填充 */
}

#publications li {
    margin-bottom: 10px; /* 每项之间的间距 */
    font-size: 1em; /* 调整字体大小 */
    line-height: 1.5; /* 行高 */
}

#publications em {
    font-weight: bold; /* 加粗期刊名字 */
    font-style: italic; /* 期刊或会议名称使用斜体 */
}

#publications .author-name {
    font-weight: bold; /* 加粗作者名字 */
    text-decoration: underline; /* 作者名字下划线 */
}

#publications li::before {
    content: '[' counter(list-item) ']'; /* 添加类似于图片中的编号 */
    font-weight: bold; /* 编号加粗 */
    margin-right: 5px; /* 编号和文本之间的距离 */
}

#publications .author-info {
    color: blue;
    font-weight: bold;
}

#publications a {
    text-decoration: none; /* 如果有链接，移除下划线 */
    color: blue; /* 链接颜色 */
}

#publications a:hover {
    text-decoration: underline; /* 悬停时添加下划线 */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #5599ff; /* 给链接设置一种明亮的颜色，与背景形成对比 */
    text-decoration: none; /* 去除下划线 */
}

footer a:hover {
    text-decoration: underline; /* 鼠标悬浮时添加下划线 */
}

.flag-counter {
    margin-top: 10px; /* 或根据需要调整 */
    text-align: center; /* 使Flag Counter居中显示 */
}